/**
 * Fade-zoom animation for first dialog
 */

*{
	padding:0;
	margin:0;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
body{
	background: #fff;
}
body.bg_loading{
	background:url(../images/bg_loading.jpg);
	background-size:cover;
}
body.bg_status{
	background:url(../images/bg_status.jpg);
	background-size:cover;
}

body.storytelling{
	background:url(../images/bg_storytelling.jpg);
	background-size:cover;
}

.wrap_page{
	width:100%;
	position:relative;
}


.wrap_page .bg,
.wrap_page .bg img{
	width:100%;
}
.wrap_page .title,
.wrap_page .title img{
	width:100%;
}


.wrap_page .block_content .block_btn{
	width:100%;
	text-align:center;
	padding:15px 0;
}
.wrap_page .block_content .block_btn img{
	width:15%;
}



.wrap_page.main_page{
	width:100%;
	position:relative;
	background:#4d9eaf;
}
.wrap_page.main_page .wrap_top_bg{
	position:relative;
	background:url(../images/bg_index.jpg) 0 0 no-repeat;
	background-size:cover;
}
.wrap_page.main_page .main_top{
	width:100%;
	position:relative;
}
.wrap_page.main_page .main_top .logo{
	width:47%;
	float:left;
	padding-left:3%;
	padding-top:3%;
}
.wrap_page.main_page .main_top .logo img{
	width:50%;
}
.wrap_page.main_page .main_top .btn_how{
	width:47%;
	padding-right:3%;
	padding-top:3%;
	float:left;
	text-align:right;
}
.wrap_page.main_page .main_top .btn_how img{
	width:50%;
}

.wrap_page.main_page .title{
	padding-bottom:10px;
}
.wrap_page.main_page .quick{
	position:fixed;
	top:19%;
	right:0;
	z-index:999;
}
.wrap_page.main_page .quick img{
	width:80px;
}

.wrap_page.main_page .main_block{
	position:relative;
}

.wrap_page.main_page .btn_block.main{
	width:100%;
	text-align:center;
	position:absolute;
	top:37%;
}
.wrap_page.main_page .btn_block.main img{
	width:60%;
}

.wrap_page.main_page .img_child{
	width:100%;
	text-align:center;
}
.wrap_page.main_page .img_child img{
	width:70%;
}




.wrap_page.main_page .main_num{
	width:100%;
	position:relative;
	text-align:center;
	margin-top:-5px;
}
.wrap_page.main_page .main_num img{
	width:100%;
}
.wrap_page.main_page .main_num .num{
	position:absolute;
	width:50%;
	text-align:right;
	color:#fed90b;
	bottom:10%;
	right:14%;
	font-size:30px;
}

.wrap_page.main_page .people_list{
	background:#042641;
	padding:10px 5px 0px;
}
.wrap_page.main_page .people_list .inner_people_list{
	width:100%;
}

.wrap_page.main_page .people_list .inner_people_list .one{
	float:left;
	padding:0;
	width:33.3%;
	text-align:center;
}
.wrap_page.main_page .people_list .inner_people_list .one img{
	width:90%;
	border:3px solid #fff;
}

.wrap_page.main_page .sec_movie .title_movie{
	width:100%;
}
.wrap_page.main_page .sec_movie .title_movie img{
	width:100%;
}
.wrap_page.main_page .sec_movie .youtube{
	background:#fff;
}
.wrap_page.main_page .sec_movie .btn_movie_block{
	position:relative;
}
.wrap_page.main_page .sec_movie .btn_movie_block a{
	position:absolute;
	display:block;
	width:100%;
	text-align:center;
}
.wrap_page.main_page .sec_movie .btn_movie_block a img{
	width:60%;
}
.wrap_page.main_page .sec_movie .btn_movie_block a.apply{
	top:15%;
}
.wrap_page.main_page .sec_movie .btn_movie_block a.howto{
	top:55%;
}

.wrap_page.main_page .sec_child_num{
	position:relative;
	margin-top:-5px;
}
.wrap_page.main_page .sec_child_num .bg_bar{
	position:absolute;
	height:20px;
	width:84%;
	margin-left:8%;
	background:#fff;
	border-radius:100px;
	top:50%;
	z-index:100;
}
.wrap_page.main_page .sec_child_num .bg_bar{
	position:absolute;
	height:20px;
	width:84%;
	margin-left:8%;
	background:#fff;
	border-radius:100px;
	top:50%;
	z-index:100;
}
.wrap_page.main_page .sec_child_num .bg_bar .inner_bg_bar{
	width:100%;
	position:relative;
}
.wrap_page.main_page .sec_child_num .bg_bar .inner_bg_bar .bar{
	width:20%;
	background:#fed90b;
	height:20px;
	border-radius:100px;
	
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.wrap_page.main_page .sec_child_num .bg_bar .inner_bg_bar .icon{
	position:absolute;
	top:0;
	left:20%;
	margin-left:-17px;
}

.wrap_page.main_page .sec_child_num .bg_bar .inner_bg_bar .icon img{
	width:35px;
}


.wrap_page.main_page .sec_child_num .bg_bar .inner_bg_bar .txt_num{
	position:absolute;
	top:115%;
	left:0%;
	width:48%;
	margin-left:0;
	text-align:center;
	color:#fff;
	background:#0b345c;
	border-radius:3px;
	font-size:12px;
	letter-spacing:-1px;
	padding:3px 0;
}


.wrap_page.main_page .sec_child_num .num{
	position:absolute;
	color:#fff;
	right:13.5%;
	top:19%;
	font-size:30px;
}


.wrap_page.main_page .sec_com{
	position:relative;
	margin-top:-5px;
}
.wrap_page.main_page .sec_com a{
	position:absolute;
	display:block;
	bottom:6%;
	width:90%;
	left:8%;
}
.wrap_page.main_page .sec_com a img{
	width:50%;
}

.wrap_page.lms_landing{
	background:url(../images/bg_lms.jpg) no-repeat;
	background-size:cover;
}
.wrap_page.lms_landing .logo{
	padding:10px 0 0 10px;
}
.wrap_page.lms_landing .title{
	padding:0 0 10px;
}
.wrap_page.lms_landing .logo img{
	width:30%;
}

.wrap_page.lms_landing .sec_movie{
	background:#ccc;
}
.wrap_page.lms_landing .sec_txt{
	text-align:center;
	padding:10px 0;
}
.wrap_page.lms_landing .sec_txt img{
	width:96%;
}

.wrap_page.lms_landing .btn_block{
	text-align:center;
}
.wrap_page.lms_landing .btn_block div{
	padding:5px 0;
}
.wrap_page.lms_landing .btn_block div img{
	width:96%;
}
.wrap_page.lms_landing .btn_block div.vision{
	/*padding-top:10px;
	padding-bottom:0;*/
	padding-top:0px;
}
.wrap_page.lms_landing .btn_block div.vision img{
	width:100%;
}


.wrap_page.mystatus{
}

.wrap_page.mystatus .head_title{
	text-align:center;
	padding:30px 0 10px;
}
.wrap_page.mystatus .head_title.t_2{
	padding:15px 0 10px;
}
.wrap_page.mystatus .title{
	text-align:center;
	padding:0 0 20px;
	color:#fff;
	font-size:16px;
}
.wrap_page.mystatus .title span{
	font-weight:bold;
	font-size:20px;
}

.wrap_page.mystatus .pic_child{
	text-align:center;
	width:100%;
	background:url(../images/bg_status_pic.png) top center  no-repeat;
	background-size: contain;
	padding:20px 0;
}
.wrap_page.mystatus .pic_child img{
	width:160px;
	height:189px;
	border:4px solid #fff;
	box-shadow:1px 2px 1px #888888;
}
.wrap_page.mystatus .pic_child .txt_wating{
	padding-top:5px;
	font-size:13px;
}
.wrap_page.mystatus .txt_status{
	color:#fff;
	font-size:16px;
	text-align:center;
}
.wrap_page.mystatus .txt_status span{
	font-size:18px;
	font-weight:bold;
}
.wrap_page.mystatus .txt_status span.yellow{
	font-size:18px;
	font-weight:bold;
	color:#ffd800;
}
.wrap_page.mystatus .txt_status_2{
	font-size:12px;
	padding:10px 0 20px;
	text-align:center;
	color:#fff;
}

.wrap_page.mystatus .btn_block{
	padding-bottom:8px;
}
.wrap_page.mystatus .btn_block.bt_2{
	padding-top:20px;
}
.wrap_page.mystatus .btn_block.last{
	padding-bottom:30px;
}
.wrap_page.mystatus .btn_block,
.wrap_page.mystatus .btn_block img{
	width:100%;
}



.wrap_page.sub{
	width:100%;
}
.wrap_page.sub .inner{
	padding:0;
	position:relative;
}
.wrap_page .inner .logo{
	position:absolute;
	top:0;
	left:0;
}
.wrap_page .inner .block_content{
	width:100%;
}
.wrap_page .block_content .title{
	color:#fff;
	font-weight:bold;
	font-size:18px;
	padding:40px 0 20px;
	line-height:24px;
}
.wrap_page .block_content .title2{
	color:#fff;
	font-weight:bold;
	font-size:18px;
	padding:40px 0 20px;
	line-height:24px;
}
.wrap_page.share_match_child .block_content .title{
	text-align:center;
	background:url(../images/bg_share_title.jpg);
	background-size:cover;
	padding:45px 0 40px;
	font-size:24px;
	line-height:30px;
}
.wrap_page.share_match_child .block_content .title span{
	font-size:24px;
	color:#fed90b;
}

.wrap_page.share_match_child .block_content .title.matching,
.wrap_page.share_match_child .block_content .title.end{
	text-align:center;
	background:url(../images/bg_share_title.jpg);
	background-size:cover;
	padding:45px 0 40px;
	font-size:18px;
	line-height:24px;
}
.wrap_page.share_match_child .block_content .title.matching span,
.wrap_page.share_match_child .block_content .title.end span{
	font-size:18px;
	color:#fed90b;
}
.wrap_page.share_match_child .block_content .title.end{
	text-align:center;
	background:url(../images/bg_share_title.jpg);
	background-size:cover;
	padding:45px 0 40px;
	font-size:16px;
	line-height:20px;
}
.wrap_page.share_match_child .block_content .title.end span{
	font-size:16px;
	color:#fed90b;
}

.wrap_page.share_match_child .block_content .title.compassion{
	padding:30px 0 25px;
}
.wrap_page.share_match_child .block_content .sub_txt{
	text-align:center;
	padding:10px 0;
	color:#076d8c;
	font-size:14px;
	line-height:18px;
}

.wrap_page.share_match_child .block_content .img_com{
	position:relative;
}

.wrap_page.share_match_child .block_content .img_com .img_child{
	position: absolute;
}
.wrap_page.share_match_child .block_content .img_com .img_child .inner_img_child{
	width:90%;
	padding-left:5%;
	padding-top:20px;
}
.wrap_page.share_match_child .block_content .img_com .img_child .inner_img_child .one{
	float:left;
	width:33%;
	text-align:center;
	position:relative;
}
.wrap_page.share_match_child .block_content .img_com .img_child .inner_img_child .one img{
	width:87%;
	height:90%;
	border: 4px solid #fff;
    box-shadow: 1px 2px 1px #888888;
}

.wrap_page.share_match_child .block_content .img_com .img_child.story_result{
	position: absolute;
	width:100%;
	text-align:center;
}

.wrap_page.share_match_child .block_content .img_com .img_child.story_result{
	position: absolute;
	width:100%;
	text-align:center;
	top:4.5%;
}

.wrap_page.share_match_child .block_content .img_com .img_child.story_result img{
	width:37%;
	border: 5px solid #fff;
    box-shadow: 1px 2px 1px #888888;
}
.wrap_page.share_match_child .block_content .img_com .txt_child.story_result {
	position:absolute;
	top:57%;
}
.wrap_page.share_match_child .block_content .img_com .txt_child.story_result .inner {
    font-size: 14px;
    width: 80%;
    line-height: 32px;
    height: 130px;
	background-attachment:scroll;
    margin: 0 auto;
    overflow: scroll;
}
.wrap_page.share_match_child .block_content .img_com .txt_child.story_result .inner p {
    background: url(../images/txt_line.png) 0 0 repeat-y;
}
.wrap_page.share_match_child .block_content .block_btn.spon,
.wrap_page.share_match_child .block_content .block_btn.cheer{
	text-align:center;
	width:100%;
	color:#333;
	font-size:14px;
}
.wrap_page.share_match_child .block_content .block_btn.cheer{
	padding-top:0;
}

.wrap_page.share_match_child .block_content .block_btn.spon .bt img,
.wrap_page.share_match_child .block_content .block_btn.cheer .bt img{
	width:70%;
}
.wrap_page.share_match_child .block_content .friends_pic{
	background: url(../images/bg_friend.jpg) 0 0 repeat;
	padding:13px 0 0;
	margin-top:10px;
}
.wrap_page.share_match_child .block_content .friends_pic .inner_friends_pic{
	width:100%;
}

.wrap_page.share_match_child .block_content .friends_pic .inner_friends_pic .img{
	float:left;
	width:35%;
	text-align:right;
}
.wrap_page.share_match_child .block_content .friends_pic .inner_friends_pic .img img{
	width:60%;
}
.wrap_page.share_match_child .block_content .friends_pic .inner_friends_pic .txt{
	float:left;
	text-align:left;
	width:50%;
	padding-left:5%;
	color:#fff;
	font-size:12px;
	letter-spacing:-1px;
	line-height:16px;
	padding-top:3px;
}


.wrap_page.sns_exam .block_content {
	width:100%;
}

.wrap_page.sns_exam .block_content .btn_block {
	width:100%;
	text-align:center;
}
.wrap_page.sns_exam .block_content .btn_block img{
	width:50%;
}



.wrap_page.upload .block_content .title{
	background:url(../images/bg_title.jpg) top center;
	background-size:cover;
	text-align:center;
	font-size:18px;
	line-height:28px;
	padding:30px 0 20px;
}
.wrap_page.upload .block_content .title.follower{
	font-size:14px;
	line-height:20px;
}
.wrap_page.upload .block_content .title.follower span.name{
	font-size:16px;
	color:#fed90b;
}
.wrap_page.upload .block_content .title span{
	font-size:24px;
}
.wrap_page.upload .block_content .title span.small{
	font-size:15px;
}

.wrap_page.upload .block_content .title2{
	background:url(../images/bg_title.jpg) top center;
	background-size:cover;
	text-align:center;
	font-size:18px;
	line-height:20px;
	padding:30px 0 20px;
}
.wrap_page.upload .block_content .title2.follower{
	font-size:14px;
	line-height:20px;
}
.wrap_page.upload .block_content .title2.follower span.name{
	font-size:16px;
	color:#fed90b;
}
.wrap_page.upload .block_content .title2 span{
	font-size:24px;
}
.wrap_page.upload .block_content .title2 span.small{
	font-size:15px;
}


.wrap_page.upload .block_content .sub_title{
	text-align:center;
	padding:10px 0 7px;
	color:#076d8c;
	font-size:16px;
	letter-spacing:-1px;
}

.wrap_page .inner .block_content .block_input_dream{
	text-align:center;
	width:96%;
	margin:2%;
}
.wrap_page .inner .block_content .block_input_dream .selec_job{
	background:url(../images/bg_input_title2.jpg) repeat;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:18px 0 5px;
	line-height:30px;
	border-radius:5px;
	width:100%;
}
.wrap_page .inner .block_content .block_input_dream .selec_job div{
	display:block;
	float:left;
}
.wrap_page .inner .block_content .block_input_dream .selec_job div.txt_1{
	padding-left:25%;
}

@media screen and (min-device-width: 300px) and (max-device-width: 320px) {
	
	.wrap_page .inner .block_content .block_input_dream .selec_job div.txt_1{
	padding-left: 15%;
	}
}
.wrap_page .inner .block_content .block_input_dream .selec_job div.txt_2{
	padding-left:5px;
}
.wrap_page .inner .block_content .block_input_dream .upload_pic{
	background:url(../images/bg_input_title3.jpg) repeat;
	margin-top:1px;
	border-radius:5px;
}
.wrap_page .inner .block_content .block_input_dream .upload_pic .title_pic{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:18px 0 5px;
	line-height:30px;
	width:100%;
	border-radius:20px;
}

.wrap_page .inner .block_content .block_input_dream .upload_pic .title_pic .txt_1{
	float:left;
	padding-left: 15%;
}
@media screen and (min-device-width: 300px) and (max-device-width: 320px) {
	
	.wrap_page .inner .block_content .block_input_dream .upload_pic .title_pic .txt_1{
	float:left;
	padding-left: 7%;
	}
}
.wrap_page .inner .block_content .block_input_dream .upload_pic .title_pic .txt_2{
	float:left;
	padding-left:10px;
}
.wrap_page .inner .block_content .block_input_dream .upload_pic .title_pic .txt_3{
	float:left;
	padding-left:5px;
	padding-top:3px;
}

.wrap_page .inner .block_content .block_input_dream .upload_pic .desc{
	background:url(../images/bg_input_notice.jpg) repeat;
	color:#fff;
	font-size:12px;
	padding:10px 0;
}
.wrap_page .inner .block_content .block_input_dream .upload_pic .desc .txt_pic{
	padding:0 0 10px;
}
.wrap_page .inner .block_content .block_input_dream .upload_pic .pic_area{
	border:3px solid #1055a1;
	background:#fff;
	height:150px;
}
.wrap_page .inner .block_content .block_input_dream .upload_pic .btn_closeup{
	padding:5px 0;
	background:url(../images/bg_closeup.jpg) repeat;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.wrap_page.upload .block_content .txt_pic{
	font-size:12px;
	line-height:15px;
	padding-left:10px;
	color:#333;
}







.wrap_page .inner .block_content .block_btn{
	text-align:center;
}
.wrap_page .inner .block_content .block_btn.upload{
	width:100%;
}
.wrap_page .inner .block_content .block_btn.upload img{
	width:50%;
}




.wrap_page.phone .block_content .title{
	background:url(../images/bg_title.jpg) top center;
	background-size:cover;
	text-align:center;
	padding:20px 0;
	font-size:18px;
	line-height:24px;
}
.wrap_page.phone .block_content .sub_title{
	text-align:center;
	font-size:15px;
	color:#076d8c;
	line-height:20px;
	padding:25px 0;
}
.wrap_page.phone .block_content .sub_title2{
	text-align:center;
	font-size:12px;
	color:#076d8c;
	line-height:20px;
}
.wrap_page.phone .block_content .sub_title3{
	text-align:center;
	font-size:15px;
	color:#076d8c;
	line-height:20px;
	padding:5px 0;
}
.wrap_page.phone .block_content .sub_title3 span{
	font-weight:bold;
}
.wrap_page.phone .block_content .txt_desc{
	text-align:center;
	padding:5px 0 10px;
	font-size:14px;
	line-height:18px;
	color:#777;
	letter-spacing:-1px;
}

.wrap_page.phone .block_content .block_btn,
.wrap_page.phone .block_content .block_btn img{
	width:100% !important;
}
.wrap_page.phone .block_content .block_btn{
	padding:0 ;
}

.wrap_page.phone .block_content .block_btn.second{
	padding-top:15px;
}

.wrap_pageinput_data {
	width:100%;
}
.wrap_page.input_data .block_content .title{
	background:url(../images/bg_title.jpg) top center;
	background-size:cover;
	text-align:center;
	padding:20px 0;
	font-size:18px;
	line-height:24px;
}
.wrap_page.input_data .block_content .sub_title{
	color:#076d8c;
	font-size:15px;
	padding:0 0 15px;
	text-align:center;
	font-weight:bold;
	border-bottom:1px solid #b0bcc9;
	margin-bottom:15px;
}
.wrap_page.input_data .block_content .sub_title.add{
	color:#333;
	font-size:13px;
	padding:10px 0 0;
	margin-bottom:0;
	text-align:center;
	font-weight:normal;
	border:none;
}
.wrap_page.input_data .block_input{
	width:76%;
	padding:6% 10%;
	padding-bottom:6%;
	margin:0 2%;
	background:#eaf4ff;
	margin-top:10px;
}
.wrap_page.input_data .block_input .input_one{
	width:100%;
	margin:0 auto;
}
.wrap_page.input_data .block_input .input_one .label,
.wrap_page.input_data .block_input .input_one .input{
	float:left;
}

.wrap_page.input_data .block_input .input_one .label{
	width:30%;
	padding-top:3px;
	color:#333;
	font-size:13px;
}
.wrap_page.input_data .block_input .input_one .input{
	width:68%;
	padding:1% 1%;
	background:#fff;
	float:right;
}
.wrap_page.input_data .block_input .input_one .input input{
	width:100%;
	border:none;
	height:20px;
	font-size:13px;
}
.wrap_page.input_data .block_input .check{
	border-top:1px solid #b0bcc9;
	padding-top:15px;
	margin-top:15px;
	width:100%;
}
.wrap_page.input_data .block_input .check a{
	color:#666;
	font-size:12px;
	letter-spacing:-1px;
	text-decoration:none;
	line-height:16px;
	display:block;
	float:left;
}
.wrap_page.input_data .block_input .check a.bt{
	padding-left:5px;
	width:46px;
	line-height: 18px;
}
.wrap_page.input_data .block_input .check a.box{
	width:20px;
	padding-right:5px;
}

.wrap_page.input_data .block_btn{
	width:100%;
}
.wrap_page.input_data .block_btn img{
	width:30%;
}








.wrap_page.storytelling {
	width:100%;
	position:relative;
}
.one_chat.right.ending_chat{
	position:absolute;
	top:68.5%;
	width:96%;
	margin-right:4%;
	z-index:120;
}

@media screen and (min-device-height: 400px) and (max-device-height: 568px) {
	
	.one_chat.right.ending_chat {
		top:62.5%;
	}
}

.one_chat.right.ending_chat .content{
	width:100%;
}
.mask_ending{
	width:100%;
	height:600px;
	background:rgba(0,0,0,0.50);
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}




.wrap_page.storytelling .inner {
	width:94%;
	margin:10px auto 0;
	background:#bfdeef;
	border:3px solid #0053a1;
	border-radius:8px;
	height:600px;
	box-shadow: 1px 2px 1px #888888;
	position:relative;
}
@media screen and (min-device-height: 400px) and (max-device-height: 568px) {
	
	.wrap_page.storytelling .inner {
		height:500px;
	}
}




.wrap_page.storytelling .inner .frame_top {
	background:#f2fdff;
	width:100%;
	border-bottom:3px solid #0053a1;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	height:40px;
}
.wrap_page.storytelling .inner .frame_top .left,
.wrap_page.storytelling .inner .frame_top .right {
	float:left;
	width:30%;
}
.wrap_page.storytelling .inner .frame_top .left{
	padding-top:5px;
	padding-left:5px;
}
.wrap_page.storytelling .inner .frame_top .right {
	float:right;
	text-align:right;
	padding-right:5px;
	padding-top:5px;
}

.wrap_page.storytelling .inner .block_content {
	height:530px;
	overflow:scroll;
}

@media screen and (min-device-height: 400px) and (max-device-height: 568px) {
	
	.wrap_page.storytelling .inner .block_content {
	height:430px;
	overflow:scroll;
	}
}
.wrap_page.storytelling .inner .block_content .chat_title{
	text-align:center;
	color:#666;
	padding:5px 0;
	margin-bottom:10px;
	background:#a3cbe1;
	font-size:12px;
	letter-spacing:-1px;
}
.wrap_page.storytelling .inner .block_content .one_chat.left{
	padding-left:4%;
}
.wrap_page.storytelling .inner .block_content .one_chat.right{
	padding-right:4%;
	padding-bottom:0;
}
.wrap_page.storytelling .inner .block_content .one_chat .content .cnt{
	color:#feff87;
	font-size:11px;
	padding-top:15px;
}
.wrap_page.storytelling .inner .block_content .one_chat .content .cnt.v2{
	padding-top:28px;
}
.wrap_page.storytelling .inner .block_content .one_chat .content .cnt.v3{
	padding-top:41px;
}
.wrap_page.storytelling .inner .block_content .one_chat .content .cnt.v5{
	padding-top:81px !important;
}
.wrap_page.storytelling .inner .block_content .one_chat .content .cnt.v6,
.one_chat.ending_chat .content .cnt.v6{
	padding-top:101px !important;
}

.wrap_page.storytelling .inner .block_content .one_chat .content .talk,
.one_chat.ending_chat .content .talk{
	color:#222;
	font-size:14px;
	padding-bottom:0;
	line-height:19px;
	letter-spacing:-1px;
}
.wrap_page.storytelling .inner .block_content .one_chat .content .talk.ending{
	padding-bottom:30px;
}
.wrap_page.storytelling .inner .block_content .one_chat .content .txt.center{
	text-align:center;
	padding:10px 20px !important;
}


.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat{
	width:100%;
}

.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .icon{
	float:left;
	width:60px;
}

.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .icon.no_icon{
	text-indent:-9999px;
	height:20px;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .icon img{
	width:50px;
	height:50px;
	border-radius:100px;
	border:2px solid #0053a1;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content{
	float:left;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content .name{
	color:#555;
	font-size:13px;
	padding-bottom:8px;
	line-height:19px;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content .img{
	padding-bottom:0;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content .img img{
	border-radius:3px;
	box-shadow: 1px 2px 1px #888888;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content .talk div{
	float:left;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content .talk div.deco{
	padding-top:7px;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content .talk div.txt{
	background:#fff;
	border-radius:6px;
	border-bottom-left-radius:7px;
	border-top-right-radius:10px;
	padding:10px 10px 7px;
	box-shadow: 1px 2px 1px #888888;
}
.wrap_page.storytelling .inner .block_content .one_chat.left .inner_one_chat .content .talk div.cnt{
	float:left;
	font-size:11px;
	padding-left:5px;
	padding-top:15px;
}



.wrap_page.storytelling .inner .block_content .one_chat.right .content .name{
	text-align:right;
	color:#555;
	font-size:13px;
	padding-bottom:8px;
	line-height:19px;
}
.wrap_page.storytelling .inner .block_content .one_chat.right .content .img{
	text-align:right;
	padding-bottom:8px;
}
.wrap_page.storytelling .inner .block_content .one_chat.right .content .img img{
	border-radius: 3px;
    box-shadow: 1px 2px 1px #888888;
}

.wrap_page.storytelling .inner .block_content .one_chat.right .content .talk,
.one_chat.right.ending_chat .content .talk{
	width:100%;
}
.wrap_page.storytelling .inner .block_content .one_chat.right .content .cnt,
.wrap_page.storytelling .inner .block_content .one_chat.right .content .txt,
.wrap_page.storytelling .inner .block_content .one_chat.right .content .deco{
	float:right;
}
.one_chat.right.ending_chat .content .cnt,
.one_chat.right.ending_chat .content .txt,
.one_chat.right.ending_chat .content .deco{
	float:right;
}
.wrap_page.storytelling .inner .block_content .one_chat.right .content .txt,
.one_chat.right.ending_chat .content .txt{
	background:#feec04;
	border-radius:6px;
	border-bottom-left-radius:7px;
	border-top-right-radius:10px;
	padding:10px 10px 7px;
	box-shadow: 0 1px 0 #888888;
}
.wrap_page.storytelling .inner .block_content .one_chat.right .content .txt.end,
.one_chat.right.ending_chat .content .txt.end{
	width:75%;
	letter-spacing:-2px;
}

.wrap_page.storytelling .inner .block_content .one_chat.right .content .talk.ending,
.one_chat.right.ending_chat .content .talk.ending {
	position:relative;
}

.wrap_page.storytelling .inner .block_content .one_chat.right .content .talk.ending .here,
.one_chat.right.ending_chat .content .talk.ending .here{
	position: absolute;
	top:-60px;
	left:20px;

}

.wrap_page.storytelling .inner .block_content .one_chat.right .content .talk.ending .here.com {
	position: absolute;
	top:-60px;
	left:50px;

}
.wrap_page.storytelling .inner .block_content .one_chat.right .content .talk.ending .txt,
.one_chat.right.ending_chat .content .talk.ending .txt {
	font-weight:bold;
}
.wrap_page.storytelling .inner .block_content .one_chat.right .content .talk.ending .txt a,
.one_chat.right.ending_chat .content .talk.ending .txt a{
	display:block;
	padding:4px;
	color:#004f98;
	letter-spacing:0;
}



.wrap_page.storytelling .inner .block_content .one_chat.right .content .deco,
.one_chat.right.ending_chat .content .deco{
	padding-top:7px;
}

.wrap_page.storytelling .inner .block_content .one_chat.right .content .cnt,
.one_chat.right.ending_chat .content .cnt{
	padding-right:5px;
}


.wrap_page.storytelling .inner .frame_bottom {
	height:30px;
	position:absolute;
	bottom:0;
	background:#fff;
	padding:0 2%;
	padding-top:5px;
	padding-bottom:5px;
	width:96%;
	text-align:right;
	border-top:3px solid #0053a1;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}


.wrap_page.share_match_child{
}
.wrap_page.share_match_child .block_content .block_child{
	position:relative;
	margin-top:-50px;
	background-size: contain;
}
.wrap_page.share_match_child .block_content .block_child.re{
	position:relative;
	width:320px;
	margin:-25px auto 0;
}
.wrap_page.share_match_child .block_content .block_child .inner_block_child{
	width:100%;
}
.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_pic{
	width:100%;
	text-align:center;
	padding-top:25px;
}
.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_pic img{
	width:145px;
	height:170px;
	border:5px solid #fff;
	box-shadow:1px 2px 1px #888888;
}
.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_pic.re img{
	width:140px;
	height:166px;
	border:5px solid #fff;
	box-shadow:1px 2px 1px #888888;
}

.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_pic.re{
	width:100%;
	text-align:center;
	padding-top:15px;
	height:180px;
	padding-bottom:20px;
	background:url(../images/bg_child_pic_re.png) 0 0 no-repeat;
	background-size: contain;
}




.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_text{
	padding:0;
	background:url(../images/bg_txt_match.png) 0 0 no-repeat;
	background-size:100%;
	margin-top:-10px;
	padding-bottom:60px;
	
	
	
}
.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_text h2{
	text-align:left;
	font-weight:bold;
	font-size:16px;
	padding:40px 0 5px 0;
	padding-left:10%;
}
.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_text div{
	font-size:14px;
	width:80%;
	line-height:32px;
	height:90px;
	margin:0 auto;
	overflow:scroll;
}
.wrap_page.share_match_child .block_content .block_child .inner_block_child .child_text div p{
	padding:0;
	background:url(../images/txt_line.png) 0 0 repeat-y;
}



.wrap_page.share_match_child .block_content .block_txt{
	text-align:center;
	color:#333;
	font-size:14px;
}
.wrap_page.share_match_child .block_content .block_btn.howtotag{
	display:block;
	width:90%;
	margin:0 auto;
	border:1px solid #74a0ca;
	font-size:12px;
	letter-spacing:-1px;
	padding:7px 0;
}
.wrap_page.share_match_child .block_content .block_btn.howtotag a{
	display:block;
	width:90%;
	color:#004c93;
	text-align:left;
	padding:0 5%;
}
.wrap_page.share_match_child .block_content .block_btn.howtotag a img{
	width:20px !important;
	display:block;
	float:right;
}
.wrap_page.share_match_child .block_content .block_btn.howtotag a span{
	display:block;
	float:left;
	line-height:18px;
	padding-right:5px;
	padding-top:2px;
}
.wrap_page.share_match_child .block_content .block_btn.ok{
}
.wrap_page.share_match_child .block_content .block_btn.ok img{
	width:40%;
}
.wrap_page.share_match_child .block_content .block_btn.re img{
	width:60%;
}
.wrap_page.share_match_child .block_content .more_child_list{
	background:url(../images/bg_more_child.jpg) repeat;
	padding:20px 0;
}
.wrap_page.share_match_child .block_content .more_child_list .inner_more_child_list{
	width:90%;
	padding-left:5%;
}
.wrap_page.share_match_child .block_content .more_child_list .inner_more_child_list .one{
	width:25%;
	float:left;
	text-align:center;
}
.wrap_page.share_match_child .block_content .more_child_list .inner_more_child_list .one img{
	width:75%;
	border: 3px solid #fff;
    box-shadow: 1px 2px 1px #888888;
}
.wrap_page.share_match_child .block_content .more_child_list .txt{
	text-align:center;
	color:#333;
	font-size:14px;
	line-height:19px;
}


.wrap_page .block_content .block_btn.howtotag img{
	width:80%;
}




.wrap_page.loading{
	padding:30px 0 0;
}
.wrap_page.loading .img_load{
	text-align:center;
	width:100%;
}
.wrap_page.loading .img_load img{
	width:100%;
}
.wrap_page.loading .txt_load{
	text-align:center;
	width:80%;
	margin: -4px auto 0;
	font-size:14px;
	background:#002538;
	border-radius:5px;
	color:#fff;
	padding:10px 0;
	line-height:20px;
}
.wrap_page.loading .txt_load span{
	color:#fed818;
}



.wrap_pop{
	width:96%;
	background:#fff;
	margin:0 auto;
	position:relative;
}
.wrap_pop .btn_close{
	position: absolute;
	right:8px;
	top:8px;
}
.wrap_pop .btn_close img{
	width:28px;
}

.wrap_page .btn_close{
	position: absolute;
	right:8px;
	top:8px;
	z-index:9;
}
.wrap_page .btn_close img{
	width:28px;
}

.wrap_pop.howto_notice{
}
.wrap_pop.howto_notice .img{
	font-size:12px;
}
.wrap_pop.howto_notice .navi{
	width:100%;
	padding-top:40px;
}
.wrap_pop.howto_notice .navi a{
	width:50%;
	display:block;
	float:left;
}
.wrap_pop.howto_notice .navi a img{
	width:100%;
}
.wrap_pop.howto_notice ul{
	padding:0 10px;
	margin-left:10px;
	color:#333;
}
.wrap_pop.howto_notice ul li{
	padding-bottom:2px;
}



.wrap_pop .inner_p_select_job{
	border:4px solid #1055a1;
	padding:10% 5% 5%;
	background:#d5e5f4;
}
.wrap_pop .inner_p_select_job .txt{
	text-align:center;
	font-size:13px;
	padding:0 0 20px;
	font-weight:bold;
}
.wrap_pop .inner_p_select_job .one_job{
	width:25%;
	float:left;
	padding-bottom:15px;
}
.wrap_pop .inner_p_select_job .one_job .img{
	width:100%;
	text-align:center;
}
.wrap_pop .inner_p_select_job .one_job .img img{
	width:80%;
}
.wrap_pop .inner_p_select_job .one_job .text{
	width:80%;
	text-align:center;
	margin:0 auto;
}
.wrap_pop .inner_p_select_job .one_job .text a{
	display:block;
	color:#fff;
	background:#1055a1;
	text-decoration:none;
	font-size:12px;
	border-radius:30px;
	padding:2px 0;
}



.wrap_pop.p_preview{
	position:relative;
}
.wrap_pop.p_preview .btn_close{
	position: absolute;
	right:0;
	top:3px;
}
.wrap_pop.p_preview .inner_p_preview{
	position:relative;
	padding-top:35px;
}
.wrap_pop.p_preview .inner_p_preview .img{
	position: absolute;
	width:95%;
	top:35%;
	text-align:center;
	padding-left:1.5%;
	left:2%; /* 개발쪽 변경*/
}
.wrap_pop.p_preview .inner_p_preview .img img{
	width:100%;
}


.wrap_pop.p_preview .inner_p_preview .preview {
	overflow: hidden;
	width:400px;
	height:200px;
}



.wrap_pop.p_howto_share{
	padding:20px 0;
}
.wrap_pop.p_howto_share .inner{
	width:100%;
}
.wrap_pop.p_howto_share .inner .navi{
	padding-top:20px;
}
.wrap_pop.p_howto_share .inner .navi a{
	display:block;
	float:left;
	width:33.3333%;
}
.wrap_pop.p_howto_share .inner .navi a img{
	width:100%;
}

.wrap_pop.p_howto_share .txt_title{
	padding:0 0 10px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}

.wrap_pop.p_howto_share .inner .howto_img{
	width:100%;
	text-align:center;
	padding-bottom:10px;
}

.wrap_pop.p_howto_share .inner .howto_img img{
	width:100%;
}
.wrap_pop.p_howto_share .inner .btn_block{
	width:100%;
	text-align:center;
}
.wrap_pop.p_howto_share .inner .btn_block img{
	width:30%;
}


.wrap_pop.about_campaign{

}
.wrap_pop.about_campaign .img,
.wrap_pop.about_campaign .img img{
	width:100%;
}


/*clearfix*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}



.bg,
.bg img{
	width:100%;
	
}




/* 팝업 jQuery ( Magnific-Popup ) 관련 CSS */
/* Styles for dialog window */
#input_1 {
	background: white;
	position: relative;
}

.mask{display:none; position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/mask_bg.png) repeat;z-index:8}



/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0.01;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* 약관 */
.wrap_pop.howto_notice dl{
	padding:0 10px;
	margin-left:10px;
	color:#333;
	font-size:13px;
	font-family:"맑은고딕", "Malgun Gothic", "돋움", Dotum, "Apple Gothic", sans-serif; 
}
.wrap_pop.howto_notice dl dt{
	padding-bottom:10px;
	font-size:17px;
	font-weight:bold;
	text-align:center;
}
.wrap_pop.howto_notice dl dd{
	padding-bottom:4px;
	line-height: 18px;
}

.wrap_pop.howto_notice .text{
overflow:scroll;
border:0px red solid;
margin-top:0px;
height:800px;

}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
}
