@charset "UTF-8";

/* CSS Document Reset */
@charset "utf-8";

* {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust:none; word-break:keep-all; word-wrap:break-word;}
html,body {margin:0; padding:0; font-weight:400; line-height:100%; color:#000;}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p {margin:0; padding:0; border:0;}
h1, h2, h3, h4, h5, h6 {line-height:100%;}
a {border:0; color:inherit;}
a, a:visited, a:hover, a:active {text-decoration:none;}
hr {margin:0; background:none; border:none; height:0;}
ul, ol {list-style:none;}
img {border:0; vertical-align:top;}
table {border-spacing:0; border:0; width:100%; table-layout:fixed; border-collapse:collapse;}
th, td {padding:0;}
mark {color:inherit;}
address, em, dfn {font-style:normal;}
button,
select,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {border-radius:0; margin:0; padding:0; border:0; background:none;}
button,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {-webkit-appearance:none;}
input[type="radio"],
input[type="checkbox"] {margin:0; padding:0; width:13px; height:13px;}
html,
body,
pre,
button,
select,
textarea,
input[type="button"],
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
input[type="file"] {font-family:"제주고딕", "맑은고딕", "Malgun Gothic", "돋움", Dotum, "Apple Gothic", sans-serif; letter-spacing:-2px;}
button,
input[type="button"],
input[type="submit"] {cursor:pointer; overflow:visible;}
button[type="submit"],
input[type="submit"] {filter:chroma(color=#000000);}
button::-moz-focus-inner {padding:0; border:0;}
input[type="date"],
input[type="time"] {-webkit-appearance:none; -moz-appearance:none; border-radius:0;}
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0;}
[readonly],
[disabled] {cursor:default;}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}






/* common */
body{
/*  background:url(../images/bg.jpg);*/
	width:100%;
}
body.bg_sub_page{
	background:url(../images/bg_sub.jpg) no-repeat;
	background-size:cover;
}
body.bg_sub_page.story{
	background:url(../images/bg_story.jpg) no-repeat;
	background-size:cover;
	position:relative;
	width:100%;
}
body.bg_sub_page.bg_loading{
	background:url(../images/bg_loading.jpg) no-repeat;
	background-size:cover;
}

.img_100,
.w_100{
	width:100%;
}

/*common*/
body.main{
	background:url(../images/bg.jpg) repeat-x center top;	
}
.wrap_page{
}
.wrap_sec_top{
	background:url(../images/bg_top.jpg) no-repeat center top;	
}
.block_title{	
}


/*section*/
.wrap_sec_top{
	position:relative;
	background:#0c6f8f;
}
.bg_wrap_sec_top{
	background:url(../images/bg_top.jpg) no-repeat center top;
	background-size:cover;
}

.wrap_sec_top .inner{
	width:960px;
	margin:0 auto;
	height:730px;
}
.wrap_sec_top .inner .logo{
	position:absolute;
	top:0;
	left:20px;
	z-index:102;
}
.wrap_sec_top .inner .title{
	position:absolute;
	top:70px;
	left:50%;
	z-index:101;
}
.wrap_sec_top .inner .main_child{
	position:absolute;
	top:-23px;
	right:30%;
	z-index:100;
}
.wrap_sec_top .inner .block_img{
	position:absolute;
	text-align:center;
	top:380px;
	left:50%;
	z-index:103;
}
.wrap_sec_top .inner .block_img .status{
	background:url(../images/bg_status.png) center top no-repeat;
	width:456px;
	height:218px;
	margin-top:30px;
	position:relative;
}


.wrap_sec_top .inner .block_img .status .people .num{
	position:absolute;	
	font-size:30px;
	right:60px;
	bottom:23px;
	color:#fed90b;
	font-family:Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, sans-serif;
}


.wrap_sec_top .inner .btn_howto{
	text-align:right;
	position:absolute;
	top:20px;
	right:20px;
}

.wrap_sec_top .people_pic{
	background:#0e2941;
	padding:1% 1% 1.5%;
	width:98%;
}
.wrap_sec_top .people_pic .pic_one{
	float:left;
	padding:0;
	width:8.33%;
	text-align:center;
}

.wrap_sec_top .people_pic .pic_one img{
	border:4px solid #fff;
	width:82%;
	/*height 추가*/
	height: 58.13px;

}

.wrap_sec_movie{
	width:100%;
	background:url(../images/bg_movie.jpg);
	background-size:cover;
}
.bg_wrap_sec_movie{
	width:100%;
	background:url(../images/bg_movie_img.png) center top no-repeat;
}
.wrap_sec_movie .inner{
	width:1000px;
	margin:0 auto;
	padding:50px 0 40px;
}
.wrap_sec_movie .inner .title{
	text-align:center;
	padding:40px 0;
}
.wrap_sec_movie .inner .movie{
	width:650px;
	margin:0 auto;
}
.wrap_sec_movie .inner .block_btn{
	padding-top:25px;
	padding-left:190px;
}


.wrap_sec_movie .bg_child{
	width:100%;
	background: rgba(0,92,178,0.70);
	height:109px;
}
.wrap_sec_movie .bg_child .child{
	width:940px;
	margin:0 auto;
}
.wrap_sec_movie .bg_child .child .inner_child{
	width:100%;
	padding-top:22px;
}
.wrap_sec_movie .bg_child .child .inner_child .bar{
	float:left;
	width:740px;
	border-radius:100px;
	background:#ffffff;
	height:27px;
	position:relative;
	margin-top:30px;
}
.wrap_sec_movie .bg_child .child .inner_child .bar .figure{
	position:absolute;
	z-index:120;
	background:url(../images/bg_figure.png) no-repeat top center;
	width:174px;
	height:30px;
	padding-top:7px;
	color:#fff;
	text-align:center;
	top:-43px;
	font-size:15px;
	font-family:"맑은고딕", "Malgun Gothic", "돋움", Dotum, "Apple Gothic", sans-serif; 
	
	left:10%;
	margin-left:-87px;
}

.wrap_sec_movie .bg_child .child .inner_child .bar .heart{
	position:absolute;
	z-index:119;
	left:10%;
	margin-left:-30px;
	top:-5px;
}

.wrap_sec_movie .bg_child .child .inner_child .bar .g{
	position:absolute;
	height:27px;
	background:#fed90b;
	width:10%;
	z-index:118;
	border-bottom-left-radius:100px;
	border-top-left-radius:100px;
}

.wrap_sec_movie .bg_child .child .inner_child .num{
	float:right;
	width:180px;
	text-align:center;
}
.wrap_sec_movie .bg_child .child .inner_child .num .cnt{
	font-size:20px;
	color:#fff;
	padding-top:17px;
	font-family:"제주고딕", "맑은고딕", "Malgun Gothic", "돋움", Dotum, "Apple Gothic", sans-serif; 
}
.wrap_sec_movie .bg_child .child .inner_child .num .cnt span{
	font-size:40px;
	color:#fff;
	font-weight:bold;
	font-family:Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, sans-serif;
}


.wrap_sec_com{
	background:url(../images/bg_com.jpg);
	background-size: cover;
	width:100%;
}
.wrap_sec_com .inner{
	width:1000px;
	margin:0 auto;
}
.wrap_sec_com .inner .title{
	text-align:center;
	padding:60px 0 0;
}
.wrap_sec_com .inner .img{
	background:url(../images/text_com.png) center top no-repeat;
	height:646px;
	position:relative;
} 
.wrap_sec_com .inner .img a{
	position:absolute;
	left:52px;
	bottom:88px;
}







.wrap_sec_footer{
	width:100%;
	border-bottom:10px solid #0052a0;
}
.wrap_sec_footer .inner{
	width:1000px;
	padding:25px 0;
	margin:0 auto;
	text-align:center;
}





.wrap_sec_top_sub{
	position:relative;
	padding:20px 0 0; border:0px red solid;
}

.wrap_sec_top_sub .logo{
	position: absolute;
	top:20px;
	left:20px;
}
.wrap_sec_top_sub .block_content{
	width:839px;
	height:834px;
	background:#fff;
	margin:0 auto 0;
	border-radius:20px; border:0px red solid;
	margin-top:35px;
}
.wrap_sec_top_sub.input_data .block_content{
	background:url(../images/bg_input_data.png) center top no-repeat;
	border-radius:0;
}
.wrap_sec_top_sub.match_child .block_content{
	background:url(../images/bg_share_child.png) center top no-repeat;
	border-radius:0;
}
.wrap_sec_top_sub.match_child .block_content.follower{
	/*background:url(../images/bg_share_child_follower.png) center top no-repeat;*/
	background:url(../images/bg_share_child_follower_02.png) center top no-repeat;
	border-radius:0;
}
.wrap_sec_top_sub.match_child .block_content.exshare{
	background:url(../images/bg_share_ex_share.png) center top no-repeat;
	border-radius:0;
}

.wrap_sec_top_sub.match_child .block_content.share_compassion{
	background:url(../images/bg_share_compassion.png) center top no-repeat;
	border-radius:0;
	width:839px;
	height:855px;
}
.wrap_sec_top_sub .block_content.upload{
	background:url(../images/bg_upload.png) center top no-repeat;
	border-radius:0;
	height:832px;
}
.wrap_sec_top_sub .block_content.upload_02{
	background:url(../images/bg_upload_02.png) center top no-repeat;
	border-radius:0;
	height:832px;
}
.wrap_sec_top_sub .block_content.result_story_child{
	background:url(../images/bg_result_story_child.png) center top no-repeat;
	border-radius:0;
	height:832px;
}
.wrap_sec_top_sub .block_content.result_story_compassion{
	background:url(../images/bg_result_story_compassion.png) center top no-repeat;
	border-radius:0;
	height:832px;
}


.wrap_sec_top_sub .title{
	text-align:center;
	padding:35px 0 20px; border:0px red solid;
}

.wrap_sec_top_sub.match_child .block_content.result_story_compassion .title{
	padding:60px 0 30px;
}

.wrap_sec_top_sub .title .main{
	font-size:28px;
	padding-bottom:10px;
	font-weight:;
}
.wrap_sec_top_sub .title .sub{
	font-size:14px;
}

.wrap_sec_top_sub .block_content.upload .title{
	text-align:center;
	padding:60px 0 10px; border:0px red solid;
	color:#fff; 
	line-height: 34px;
}
.wrap_sec_top_sub .block_content.upload_02 .title{
	text-align:center;
	padding:60px 0 0px; border:0px red solid;
	color:#fff; 
	line-height: 34px;
}
.wrap_sec_top_sub .block_content.upload .title .main{
	font-size:28px;
	padding-bottom:0;
	font-weight:;
}
.wrap_sec_top_sub .block_content.upload .title .main span{
	font-size:28px;
	color:#fed90b; 
}

.wrap_sec_top_sub .block_content.upload_02 .title .main span{
	font-size:28px;
	color:#fed90b; 
}


.wrap_sec_top_sub.match_child .title .sub span{
	font-size:16px;
}
.wrap_sec_top_sub.match_child .title .sub{
	font-size:16px;
	letter-spacing:-1px;
}
.wrap_sec_top_sub.match_child .block_content.result_story_child .title .sub{
	font-size:18px;
	letter-spacing:-1px;
	color:#076d8c;
	line-height: 22px;
	padding-top:28px;
}
.wrap_sec_top_sub.match_child .block_content.result_story_compassion .title .sub{
	font-size:18px;
	letter-spacing:-1px;
	color:#076d8c;
	line-height: 22px;
	padding-top:28px;
}



.wrap_sec_top_sub .block_btn{
	text-align:center;
	padding-top:20px;
}

.wrap_sec_top_sub .block_btn_again{
	text-align:center;
	padding-top:310px; 
}
.wrap_sec_top_sub .block_input_dream{
	width:720px;
	margin:0 auto;
	text-align:center;
	padding-top:40px;
}
.wrap_sec_top_sub .block_input_dream .selec_job{
	background:#1055a1 url(../images/bg_input_title.jpg) repeat;
	color:#fff;
	padding:25px 0 20px;
	font-size:19px;
	line-height:29px;
	border-radius:5px;
	width:100%;
}
.wrap_sec_top_sub .block_input_dream .selec_job .txt_1{
	float:left;
	padding-left:180px;
	padding-top:10px;
}
.wrap_sec_top_sub .block_input_dream .selec_job .txt_2{
	float:left;
	padding-left:10px;
}

.wrap_sec_top_sub .block_input_dream .upload_pic{
	margin-top:2px;
	
}
.wrap_sec_top_sub .block_input_dream .upload_pic .title_pic{
	background:#1055a1 url(../images/bg_input_title2.jpg) repeat;
	color:#fff;
	padding:25px 0 20px;
	font-size:19px;
	border-radius:5px;
	width:100%;
}

.wrap_sec_top_sub .block_input_dream .upload_pic .title_pic .txt_1{
	float:left;
	padding-left:180px;
	padding-top:15px;
}
.wrap_sec_top_sub .block_input_dream .upload_pic .title_pic .txt_2{
	float:left;
	padding-left:10px;
}
.wrap_sec_top_sub .block_input_dream .upload_pic .title_pic .txt_3{
	float:left;
	padding-left:10px;
	padding-top:5px;
}

.wrap_sec_top_sub .block_input_dream .txt_desc{
	padding:10px 0 0;
	font-size:14px;
	text-align:left;
}

.wrap_sec_top_sub .block_input_dream .upload_pic .desc .txt_pic{
	padding-bottom:10px;
}

.wrap_sec_top_sub .block_input_dream .upload_pic .pic_area{
	border:3px solid #003f7b;
	border-bottom:none;
	height:200px;
}
.wrap_sec_top_sub .block_input_dream .upload_pic .btn_closeup{
	border-bottom:3px solid #003f7b;
	border-left::3px solid #003f7b;
	border-right::3px solid #003f7b;
	border-radius:0 0 5px 5px;
	padding:15px 0;
	background:url(../images/bg_plus_minus.png) repeat;
	height:20px;
}

.wrap_sec_top_sub.input_data .title{
	padding-top:170px;
}
.wrap_sec_top_sub.input_data .block_input{
	width:400px;
	padding:50px 80px;
	margin:0 auto;
	background:#d8ebff;
}
.wrap_sec_top_sub.input_data .block_input .label_title{
	text-align:center;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #91a0af;
}

.wrap_sec_top_sub.input_data .block_input .input_one{
	width:100%;
}

.wrap_sec_top_sub.input_data .block_input .input_one .label,
.wrap_sec_top_sub.input_data .block_input .input_one .input{
	float:left;
}
.wrap_sec_top_sub.input_data .block_input .input_one .input{
	float:right;
}

.wrap_sec_top_sub.input_data .block_input .input_one .label{
	width:100px;
	padding-top:10px;
}
.wrap_sec_top_sub.input_data .block_input .input_one .input{
	width:250px;
	background:#fff;
	padding:5px;
	border:1px solid #ccc;
}

.wrap_sec_top_sub.input_data .block_input .input_one .input input{
	width:100%;
	letter-spacing:-1px;
	font-size:15px;
}
.wrap_sec_top_sub.input_data .block_input .check{
	border-top:1px solid #91a0af;
	padding-top:30px;
	margin-top:30px;
	line-height:19px;
	font-size:14px;
}
.wrap_sec_top_sub.input_data .txt_notice{
	text-align:center;
	padding-top:20px;
	color:#333;
	padding-bottom:10px;
}


.wrap_sec_top_sub.match_child .title{
	font-size:29px;
	font-weight:;
	line-height:35px;
	letter-spacing:-2px;
	color:#fff;
	padding:60px 0 42px; border:0px red solid;
}
.wrap_sec_top_sub.match_child  .block_content.result_story_child .title{
	padding:60px 0 37px; border:0px red solid;
}
.wrap_sec_top_sub.match_child .title span{
	color:#fed90b;
}

.wrap_sec_top_sub.match_child .block_child{
	background:;
	padding:0px 0 20px;
	position:relative; border:0px red solid;
}
.wrap_sec_top_sub.match_child .block_content.follower .block_child{
	padding:0px 0 40px; 
}
.wrap_sec_top_sub.match_child .block_content.share_compassion .block_child{
	padding:64px 0 45px;
}
.wrap_sec_top_sub.match_child .block_content.result_story_child .block_child{
	padding:0px 0 38px;
}
.wrap_sec_top_sub.match_child .block_content.result_story_compassion .block_child{
	padding:0 0 30px;
}



.wrap_sec_top_sub.match_child .block_child .inner_block_child{
	width:100%;
}
.wrap_sec_top_sub.match_child .block_child .inner_block_child .child_pic,
.wrap_sec_top_sub.match_child .block_child .inner_block_child .child_text{
	float:left;
	width:350px; 
}
.wrap_sec_top_sub.match_child .block_child .inner_block_child .child_pic{
	width:300px;
	padding-left:75px; border:0px red solid;
	padding-top:5px;
}
.wrap_sec_top_sub.match_child .block_content.follower .block_child .inner_block_child .child_pic{
	width:250px;
	padding-left:309px; 
	padding-top:0px;
}
.wrap_sec_top_sub.match_child .block_content.result_story_child .block_child .inner_block_child .child_pic{
	width:245px;
	padding-left:101px;
	padding-top:11px; border:0px red solid;
}

.wrap_sec_top_sub.match_child .block_child .inner_block_child .child_pic img{
	width:213px;
	height:252px; border:0px red solid;
}
.wrap_sec_top_sub.match_child .block_content.follower .block_child .inner_block_child .child_pic img{
	width:213px;
	height:252px;
}


.wrap_sec_top_sub.match_child .block_content.share_compassion .block_child .inner_block_child {
	padding:13px 0 115px 130px; border:0px red solid;
}
.wrap_sec_top_sub.match_child .block_content.share_compassion .block_child .inner_block_child .child_pic{
	width:140px;
	padding-left:0;
	text-align:center; border:0px red solid;
}
.wrap_sec_top_sub.match_child .block_content.result_story_compassion .block_child .inner_block_child {
	padding:13px 0 115px 130px; border:0px red solid;
}
.wrap_sec_top_sub.match_child .block_content.result_story_compassion .block_child .inner_block_child .child_pic{
	width:140px;
	padding-left:0;
	text-align:center;
}

.wrap_sec_top_sub.match_child .block_content.share_compassion .block_child .inner_block_child .child_pic img{
	width:120px;
	height:142px;
	border:4px solid #fff; 
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.2)
}
.wrap_sec_top_sub.match_child .block_content.result_story_compassion .block_child .inner_block_child .child_pic img{
	width:120px;
	height:142px;
	border:4px solid #fff;
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.2)
}

/*수정*/
.wrap_sec_top_sub.match_child .block_txt02{
	text-align:center;
	font-size:17px;
	color:#333;
	line-height:20px;
	padding-top:0px; border:0px red solid;
	letter-spacing:0px;
}

.wrap_sec_top_sub.match_child .block_child .inner_block_child .child_text{
	margin-top:40px;
	height:175px;
	overflow-y:scroll;
}
.wrap_sec_top_sub.match_child .block_content.result_story_child .block_child .inner_block_child .child_text{
	margin-top:50px;
	height:190px;
	overflow:scroll;
	width:370px; 
}
.wrap_sec_top_sub.match_child .block_child .inner_block_child .child_text h2{
	padding-bottom:10px;
	font-size:19px;
	
}
.wrap_sec_top_sub.match_child .block_child .inner_block_child .child_text p{
	line-height:32px;
	font-size:17px;
	color:#555;
	letter-spacing:-1px;
	background:url(../images/txt_line.png) 0 25px repeat-y;
}


.wrap_sec_top_sub.match_child .block_txt{
	text-align:center;
	font-size:17px;
	color:#333;
	line-height:20px;
	padding-top:0px; border:0px red solid;
	letter-spacing:0px;
}
.wrap_sec_top_sub.match_child .block_btn.howtotag{
	text-align:center;
}




.wrap_sec_top_sub.match_child.follower .block_child{
}
.wrap_sec_top_sub.match_child.follower .block_child .inner_block_child{
	width:100%;
}


.wrap_sec_top_sub.match_child.follower .block_btn.apply{
	padding:5px 20px 20px;
}


.wrap_sec_top_sub.match_child.follower .block_btn.apply .inner_apply
.wrap_sec_top_sub.match_child.follower .block_btn.apply02 .inner_apply{	
	width:740px;
	padding-left:0;
} 
.wrap_sec_top_sub.match_child.follower .block_btn.apply .inner_apply .left,
.wrap_sec_top_sub.match_child.follower .block_btn.apply .inner_apply .right{
	float:left;
	text-align:center;
	width:370px;
}
.wrap_sec_top_sub.match_child.follower .block_btn.apply .inner_apply .txt {
	padding-top:5px;
	line-height:19px;
	font-size:14px;
	color:#666;
	letter-spacing:0px;
}



.wrap_sec_top_sub.match_child.follower .example{
	width:500px;
	margin:0 auto;
	padding-top:14px;
}

.wrap_sec_top_sub.match_child.follower .example02{
	width:500px;
	margin:0 auto;
	padding-top:0px;
}


.wrap_sec_top_sub.match_child .block_content.follower .img_waiting_child{
	width:740px;
	height:100px;
	padding-left:85px;
	padding-top:8px;
	margin-top:20px; border:0px red solid;
	background:url(../images/img_waiting_child.png) 4px 0 no-repeat;
	
}


.wrap_sec_top_sub.match_child .block_content.follower .img_waiting_child .one_child{
	float:left;
	width:85px; 
}
.wrap_sec_top_sub.match_child .block_content.follower .img_waiting_child .one_child img{
	border:3px solid #fff;
	width:65px;
	height:80px; 
}


.wrap_sec_top_sub.storytelling{
	position:relative;
	padding:0 0 0;
	height:828px;
}
.wrap_sec_top_sub.storytelling .inner{
	position:relative;
	width:100%;
}
.wrap_sec_top_sub.storytelling .block_content{
	position: absolute;
	margin-left:-474px;
	left:50%;
	top:20px;
	background:url(../images/bg_story_frame.png) 0 0 no-repeat;
	width:948px;
	height:835px;
	z-index:100;
	
}
.wrap_sec_top_sub.storytelling .block_content .inner_story{
	width:905px;
	height:635px;
	margin-top:98px;
	margin-left:20px;
	overflow:scroll;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .top{
	text-align:center;
	padding:10px 0;
	background:#a3cbe1;
	color:#333;
	margin-bottom:20px;
}




.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk{
}


.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat{
	position:absolute;
	left:50%;
	margin-left: -150px;
    top: 593px;
	z-index:10000;
}

.wrap_sec_top_sub.storytelling .mask_ending{
	background:rgba(0,0,0,0.50);
	width:100%;
	height:1000px;
	position:absolute;
	z-index:9999;
}

.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .story_pic{
	border-radius:3px;
	box-shadow: 1px 2px 1px #888888;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .story_pic.pic_child{
	width:160px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .content .name{
	font-size:17px;
	color:#666;
	padding-bottom:10px;
	padding-top:5px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .content .txt.no_chat{
	letter-spacing:0;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .content .chat .cnt{
	color:#fdff33;
	font-size:12px;
	padding-top:25px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .content .chat .cnt.v2{
	padding-top:45px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .content .chat .cnt.v3{
	padding-top:75px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .content .chat .cnt.v4{
	padding-top:0;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .content .chat .cnt{
	padding-left:7px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .content .chat .cnt,
.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat .content .chat .cnt{
	padding-right:7px;
}


.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .content .name{
	text-align:right;
}

.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left{
	padding-left:10px;
}


.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .inner_one_talk{
	width:100%;
}
.wrap_sec_top_sub.storytelling .one_talk .inner_one_talk{
	width:100%;
}




.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .icon{
	float:left;
	width:100px;
	height:85px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .icon.no_icon{
	float:left;
	text-indent:-99999px;
	height:30px;
}

.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .icon img.pic_icon{
	width:84px;
	height:84px;
	border-radius:100px;
	border:2px solid #0053a1;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .content{
	float:left;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .pic{
	padding-bottom:10px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .pic .pic_ganan{
	width:300px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk .pic .pic_acti{
	width:300px;
}



.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .content .chat .deco{
	float:left;
	width:24px;
	padding-top:13px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .content .chat .txt{
	float:left;
	background:#fff;
	border-radius:8px;
	border-top-left-radius:14px;
	border-bottom-right-radius:16px;
	padding:10px 15px;
	box-shadow: 1px 2px 1px #888888;
	font-size:20px;
	line-height:24px;
	color:#333;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.left .content .chat .cnt{
	float:left;
}



.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right{
	padding-right:10px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .pic{
	text-align:right;
	padding-bottom:15px;
}


.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .chat{
	width:100%;
}
.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat .chat{
	width:100%;
}


.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .chat .txt,
.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat .chat .txt{
	float:right;
	background:#feec04;
	border-radius:8px;
	border-top-left-radius:14px;
	border-bottom-right-radius:16px;
	padding:10px 15px;
	box-shadow: 0 2px 0 #999;
	font-size:20px;
	line-height:24px;
	color:#333;
}
.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat .chat .txt,
.wrap_sec_top_sub.storytelling .one_talk.right .chat .txt.end{
	width:360px
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .chat .txt.center{
	text-align:center;
	padding:10px 30px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .chat .txt a,
.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat .chat .txt a{
	display:block;
	padding-bottom:5px;
	color:#004f98;
	text-decoration:underline;
	letter-spacing:0;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .chat .deco,
.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat .chat .deco{
	float:right;
	padding-top:12px;
}
.wrap_sec_top_sub.storytelling .block_content .inner_story .one_talk.right .chat .cnt,
.wrap_sec_top_sub.storytelling .one_talk.right.ending_chat .chat .cnt{
	float:right;
}







.wrap_sec_top_sub.storytelling .bg_img_1{
	position: absolute;
	top:200px;
	right:70%;
	z-index:98;
}

.wrap_sec_top_sub.storytelling .bg_img_2{
	position: absolute;
	top:420px;
	left:70%;
	z-index:99;
}








.wrap_sec_top_sub.loading{
	position:relative;
	padding:20px 0 0;
}

.wrap_sec_top_sub.loading .block_content{
	width:900px;
	height:770px;
	background:none;
	margin:0 auto 0;
	border-radius:20px;
}


.wrap_sec_top_sub.loading .block_content .img_load{
	background:url(../images/loading.png) center top no-repeat;
	width:868px;
	height:595px;
	margin:0 auto;
	padding-top:508px;
	color:#fff;
	text-align:center;
	font-size:17px;
	line-height:22px;
}


.sec_q{
	position: fixed;
	right:1.5%;
	top:50%;
	margin-top:-100px;
	width:167px;
	height:195px; 
}
.sec_q .inner{
	background:url(../images/bg_q.png) no-repeat;	
	width:167px; 
	height:195px;
}
.sec_q .inner .btn{
	width:167px;
	height:80px;
	text-align:center;
	padding-top:58px;
	padding-left:-1px; border:0px red solid;
}
/*popup*/
.popup_wrap {
	position:relative;
	background:#d5e5f4;
}
.p_select_job{
	width:763px;
	height:717px;
	background: url(../images/bg_job.png) no-repeat top center;
}
.p_howto_share{
	width:775px;
	height:806px;
	background:#fff;
	background: url(../images/bg_howto_share.png) no-repeat top center;
}
.main_page_pop{
	width:764px;
	height:492px;
	background: url(../images/bg_main_popup.png) no-repeat top center;
}
.main_page_pop_step{
	width:764px;
	height:755px;
	background: url(../images/bg_main_popup_02.png) no-repeat top center;
}
.main_page_pop .navi{
	padding-top:60px;
	padding-left:50px;
}
.main_page_pop_step .navi{
	padding-top:60px;
	padding-left:50px;
}
.main_page_pop .img{
	padding-left:50px;
	padding-top:20px;
	font-size:14px;
	color:#444;
}
.main_page_pop_step .img{
	padding-left:50px;
	padding-top:20px;
	font-size:14px;
	color:#444;
}
.main_page_pop .img.step{
	padding-top:40px;
}


.main_page_pop .img ul{
	margin-left:20px;
	margin-right:40px;
}
.main_page_pop .img li{
	list-style: disc;
	padding-bottom:5px;
	line-height:20px;
}
.main_page_pop .img li span{
	letter-spacing:0;
}

.popup_wrap .btn_close{
	position:absolute;
	right:25px;
	top:25px;
}



.inner_p_select_job{
	padding:60px 30px 0; border:0px red solid;
}
.inner_p_select_job .one_job{
	float:left;
	font-size:14px;
	text-align:center;
	color:#222;
	padding:0 8px;
	padding-top:30px;
}
.inner_p_select_job .one_job .text a{
	display:block;
	text-align:center;
	color:#fff;
	background:#0052a0;
	width:80%;
	margin:0 auto;
	padding:3px 0;
	border-radius:10px;
}


.p_howto_share .navi{
	width:660px;
	padding-left:66px;
	padding-top:50px;
}
.p_howto_share .navi a{
	display:block;
	float:left;
}
.p_howto_share .howto_img{
	text-align:center;
	padding-bottom:10px;
}
.p_howto_share .btn_block{
	text-align:center;
}


#re_matching_share_page .btn_block.ok{
	padding-top:20px;
}


.btn_block{
	text-align:center;
}



.p_preview{
	width:652px;
	height:581px;
	background: url(../images/bg_preview.png) no-repeat top center;
}
.inner_p_preview {
	width: 500px;
	height: 250px;
	position: absolute;
	left: 87px;
	top: 199px;
}
/*.p_preview .img{
	padding-top:198px;
	padding-left:89px;
}*/
.preview {
	overflow: hidden;
	width: 480px; 
	height: 250px;
	/*margin: 0 auto;*/
/*  padding-top:198px;
  padding-left:89px;*/
}


/* 추가 */
.bx-wrapper {
	max-width: 100% !important;
	margin: 0 auto !important;
}
.bx-viewport {
	width: 100% !important;
	height: 95px !important;
}

/* 약관 */
.popup_wrap.main_page_pop dl{
	/*padding:0px 50px;
	margin-left:10px;*/
	color:#333;
	font-size:15px;
	
	font-family:"맑은고딕", "Malgun Gothic", "돋움", Dotum, "Apple Gothic", sans-serif; 
}
.popup_wrap.main_page_pop dl dt{
	padding-bottom:20px;
	font-size:19px;
	font-weight:bold;
	text-align:center;
	
}
.popup_wrap.main_page_pop dl dd{
	padding-bottom:8px;
	line-height: 22px;

}
.popup_wrap.main_page_pop .text{
	overflow-y:scroll;
	border:0px red solid;
	margin-top:0px;
	height:380px;
	padding:0 0px 0 50px;
}
